<template>
    <div id="nav">

        <!-- To stops the page from jumping when a link is clicked
                    we use the "prevent" modifier (short for preventDefault). -->
        <nav v-bind:class="selectedHead" v-on:click.prevent>
                <!-- When a link in the menu is clicked, we call the makeActive method,
                defined in the JavaScript Vue instance. It will change the value of "active". -->

                <a href="#" class="home " v-on:click="makeActive('')">Start</a>
                <a href="#" class="survey " v-on:click="makeActive('survey')">Umfrage</a>
                <a href="#" class="more" v-on:click="makeActive('more')">...mehr</a>
        </nav>
        <br>
        <div style="display: inline-block;"> root >  <b>{{ selectedHead }}</b>
        </div>
    </div>
</template>

<script>
export default ({
    name: 'headerNav',
    data() {
        return {
            selectedHead: 'home'
        }
    },
    methods: {
        makeActive: function(target) {
            window.location.href="http://localhost:8080/"+target;
            if (target === "") {
                this.selectedHead = 'home';
            } else {
                this.selectedHead = target;
            }

        }
    }
})

</script>

<style>
*{
margin:0;
padding:0;
}

body{
font:15px/1.3 'Open Sans', sans-serif;
color: #5e5b64;
text-align:center;
}

a, a:visited {
outline:none;
color:#389dc1;
}

a:hover{
text-decoration:none;
}

section, footer, header, aside, nav{
display: block;
}

/*-------------------------
The menu
--------------------------*/

nav{
display:inline-block;
margin:60px auto 45px;
background-color:#5597b4;
box-shadow:0 1px 1px #ccc;
border-radius:2px;
}

nav a{
display:inline-block;
padding: 18px 30px;
color:#fff !important;
font-weight:bold;
font-size:16px;
text-decoration:none !important;
line-height:1;
text-transform: uppercase;
background-color:transparent;

-webkit-transition:background-color 0.25s;
-moz-transition:background-color 0.25s;
transition:background-color 0.25s;
}

nav a:first-child{
border-radius:2px 0 0 2px;
}

nav a:last-child{
border-radius:0 2px 2px 0;
}

nav.home .home,
nav.survey .survey,
nav.more .more{
    background-color:#e35885;
}

p{
font-size:22px;
font-weight:bold;
color:#7d9098;
}

p b{
color:#ffffff;
display:inline-block;
padding:5px 10px;
background-color:#c4d7e0;
border-radius:2px;
text-transform:uppercase;
font-size:18px;
}
</style>
