<template>
  <div id="app">
    <Header></Header>
    <img alt="Vue logo" src="./assets/logo.png">
    <Page msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import Page from './components/Page.vue'
import Header from './components/Header'


export default {
  name: 'app',
  components: {
    Page,
    Header
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
