<template>
  <div id="survey">
    <Header/>
    <Survey/>
  </div>
</template>

<script>
import Header from "./components/Header";
import Survey from "./components/Survey";


export default {
  name: 'survey',
  components: {
    Header,
    Survey
  }
}
</script>

<style>
#survey {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
